#python push_pop

glass = []

class stack:
        def push(self, n):
                glass.insert(0,n)
        def pop(self):
                glass.pop(0)



class queue:
        def push(self, n):
                glass.append(n)
        def pop(self):
                glass.pop(0)
